body {
    background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800&display=swap');


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Barlow Condensed",sans-serif;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* RESET CSS */

/* HEADER */
.header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 9999;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    justify-content: space-evenly;
}

.block-navigation {
    display: flex;
    line-height: 65px;
    font-size: 1em;
}


.nav-item:hover a {
    color:#fff000;
}

.nav-link {
    color:#ffffff;
    padding:10px;
    display:inline-block;
    position: relative;
    font-family: "Barlow Condensed";
    font-size: 1.5rem;
    font-weight: 500;
    scroll-behavior: smooth;
}

.nav-link::before {
    content: "";
    width:0px;
    height: 2px;
    background-color: #fcfcfc;
    display: inline-block;
    position: absolute;
    bottom: 25px;
    transition: .4s ease;
}

.nav-item:hover .nav-link::before {
    width: 40px;
}

.logo-brand {
    position: absolute;
    left: 50px;
    top:30px;
}


/* CONTENT */
.content-wrapper {
    margin: 100px 0 0;
    height: 900px;
}

.member-name {
    font-weight: 700;
    margin: 0 247px;
    padding: 0 64px;
}

.hitori-part {
    width: 1408px;
    margin: 0 auto;
}
.member-name-child-fill {
        color:#fff000;
        font-size: 2rem;
}

.member-name-child {
    -webkit-text-stroke: #fff000 1px;
    font-size: 2rem;
}

.member-switch {
    margin-top:10px;
    display:flex;
    gap: 20px;
}

.member-switch-links {
    font-family: "Barlow Condensed",sans-serif;
    color:white;
}

.active {
    position: relative;
}
.active::before {
    content:"";
    width: 76px;
    height: 2px;
    background-color: #fff000;
    bottom: -4px;
    position: absolute
}

.text-img {
    width: 400px;
    position: absolute;
    margin-left: 3%;
    margin-top: 13%;
}

.hitori-behind {
    height: 510px;
}

.hitori-behind-img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.note-floy {
    position: relative;
}

.note-fly::before {
    background-color: #ff2291;
    content:"";
    background: url(/imgs/ico_onpu_1_nrw.png) no-repeat;
    animation: noteFly 3s 0s ease infinite;
    background-size: contain;
    position: absolute;
    top: 93px;
    left: 262px;
    height: 60px;
    width: 63px;
}

.note-fly::after {
    background-color: #ff2291;
    content:"";
    background: url(/imgs/ico_onpu_2\ \(1\).png) no-repeat;
    animation: noteFly 3s 0s ease infinite;
    background-size: contain;
    position: absolute;
    top: 102px;
    left: 557px;
    height: 94px;
    width: 95px;
}
/* PAGINATION */
.pagination-block {
    background-color: #ff2291;
    display:flex;
    justify-content: space-around;
    height: 75px;
    position: relative;
}

.pagination-block::before {
    background: url(/imgs/name.svg  ) repeat-x;
    background-size: 150px;
    content:"";
    width: 100%;
    position: absolute;
    top:-19px;
    height: 55px;
    animation: textMove 15s 0s linear infinite;
}

.pagination-link {
    color:black;
    margin-left: 50px;
    font-size: 1.5rem;
}

.next-member {
    display:flex;
    justify-content: center;
    align-items: center;
}

.hitori {
    display:flex;
    align-items: center;
}
.arrow-rotate-left {
    transform: rotate(180deg);
}

.arrow-rotate-right {
    display:flex;
    justify-content: center;
    align-items: center;
}
/* PAGINATION */

/* MAIN IMG */
.main-img {
    position: absolute;
    top:17%;
    left:50%;
    transform: translateX(-50%);
}
/* CONTENT */
/* ANIMATE */
@keyframes textMove {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -181px 0;
    }
  }


@keyframes note-move {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    50% {
      opacity: 0.5;
      transform: translate(0, 0) rotate(3deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
    }
  }

.animate-note-one {
    background: url(/imgs/ico_onpu_1.png), no-repeat;
    background-size: cover;
    height: 614px;
    width: 341px;
    position: absolute;
    top: 222px;
    right: 90px;
    left: auto;
    animation: note-move 3s 0s ease infinite;
}

.animate-note-two {
    background: url(/imgs//ico_onpu_2.png), no-repeat;
    background-size: cover;
    height: 337px;
    width: 219px;
    position: absolute;
    top: auto;
    left: 131px;
    bottom: 78px;
    animation: note-move 3s 0s ease infinite;
}

@keyframes noteFly {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(0, -20%) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@media (max-width:1320px) {
    .member-name {
        font-weight: 700;
        margin: 0 16px;
        padding: 0 64px;
        background-color:red;
    }
}