
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800&display=swap');


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* RESET CSS */

/* HEADER */
.header {
    background-color: #fafafa;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 9999;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    justify-content: space-evenly;
}

.block-navigation {
    display: flex;
    line-height: 65px;
    font-size: 1em;
}


.nav-item:hover a {
    color:#979494;
}

.nav-link {
    color:#161616;
    padding:10px;
    display:inline-block;
    position: relative;
    font-family: "Barlow Condensed";
    font-size: 1.5rem;
    font-weight: 500;
    scroll-behavior: smooth;
}

.nav-link::before {
    content: "";
    width:0px;
    height: 2px;
    background-color: #161616;
    display: inline-block;
    position: absolute;
    bottom: 25px;
    transition: .4s ease;
}

.nav-item:hover .nav-link::before {
    width: 40px;
}

.search-icon {
    width:50px;
    font-size: 1.5rem;
    position: absolute;
    margin: 30px 0 0 15px;
    cursor: pointer;
}
/* END HEADER */

/* SlIDER */
.slider {
    margin-top:85px;
    display:flex;
    overflow: hidden;
}

.slider-img {
    width: 1920px;
    height: 900px;
    object-fit: cover;
}

.img-overlay {
    position: absolute;
    width: 100%;
    height: 900px;
    background-image: linear-gradient(to right,
      rgba(48, 30, 103, .3),
      rgba(48, 31, 102, .3),
      rgba(48, 47, 47, 0.3),
      rgba(59, 57, 57, 0.3));
      z-index: 10;
}

.img-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    animation: Slide 10s ease infinite;
}

.text-container {
    margin-bottom: 4rem;
    color:white;
    position: absolute;
    text-align: center;
    z-index: 1000;
    font-weight: 500;
}

@keyframes Slide {
    0% {transform: translateX(0%);}
    25% {transform: translateX(-100%);}
    30% {transform: translateX(-100%);}
    50% {transform: translateX(-200%);}
    55% {transform: translateX(-200%);}
    75% {transform: translateX(-100%);}
    80% {transform: translate(-100%);}


}

/* END SLIDER */

/* CONTENT */

/* OUR TEAM */
.our-team {
    text-align: justify;
    width: 1200px;
    margin: 0 auto;
    height: 450px;
}

.band-name, .band-slogan {
    text-align: center;
    margin-bottom:10px;
}

.band-member-img {
    height: 200px;
    object-fit: contain;
    border-radius: 2px;
}

.our-team__img-container {
    display:flex;
    margin-top:10px;
    width: 1200px;
}

.our-team__img-container-child {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.band-mem-name {
 font-family: "Barlow Condensed";
 font-weight: 500;
 font-size: 1.5rem;
}

.read-more {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    display:flex;
    justify-content: center;
    align-items: center;
}

.btn {
    color:rgb(0, 0, 0);
    width: 400px;
    height: 80px;
    background-color: rgb(236, 227, 227);
    border-radius: 5px;
    transition: .2s ease;
    cursor: pointer;
}

.btn-link {
    color:black;
    font-family: "Barlow Condensed";
    font-size: 2rem;
    line-height: 70px;
}

.btn:hover {
    background-image: linear-gradient(to right, rgba(236, 227, 227, 0.692) ,rgba(182, 171, 171, 0.61));
}